{% extends "base.html" %}
{% block main %}
<div class="w-75">
    {% if messages %}
    {% include "messages.html" %}
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nome }}</td>
                <td>
                    <a class="link me-3" href="{% url 'categorias:categoria_editar' categoria.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="link" data-bs-toggle="modal" href="#deleteModal"><i class="bi bi-x-lg"></i></a>
                    {% include 'categorias/categoria_confirm_delete.html' %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="2">
                    <p class="mb-0">Não existem categorias cadastradas</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        <a href="{% url 'categorias:categoria_criar' %}"><button class="btn_azul">Novo</button></a>
    </div>
</div>
{% if categorias %}
{% include 'pagination.html' %}
{% endif %}
{% endblock %}
