button {
    border: currentColor;
    border-radius: 6px;
    padding: 6px 12px;
    transition: color 0.3s ease;
}

.btn_azul {
    background-color: var(--azul);
    color: var(--branco);
}

.btn_azul:hover {
    background-color: var(--azul2);
}

.btn_azul:active {
    background-color: var(--azul3);
}

.btn_cinza {
    background-color: var(--cinza);
    color: var(--branco);
}

.btn_cinza:hover {
    background-color: var(--cinza2);
}

.btn_cinza:active {
    background-color: var(--cinza3);
}

.btn_vermelho {
    background-color: var(--vermelho);
    color: var(--branco);
}

.btn_vermelho:hover {
    background-color: var(--vermelho2);
}

.btn_vermelho:active {
    background-color: var(--vermelho3);
}
