<div class="modal fade" id="deleteModal">
    <form action="{% url 'postagens:postagem_excluir' postagem.pk %}" class="modal-dialog modal-dialog-centered" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Excluir postagem</h1>
                <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Tem certeza que deseja excluir essa postagem?</p>
            </div>
            <div class="modal-footer">
                <button class="btn_cinza me-2" data-bs-dismiss="modal" type="button">Cancelar</button>
                <button class="btn_vermelho" type="submit">Excluir</button>
            </div>
        </div>
    </form>
</div>
