{% extends "base.html" %}
{% block main %}
<div class="w-75">
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for postagem in postagens %}
            <tr>
                <td>{{ postagem.titulo }}</td>
                <td>
                    <a class="link me-3" href="{% url 'postagens:postagem_editar' postagem.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="link" data-bs-toggle="modal" href="#deleteModal"><i class="bi bi-x-lg"></i></a>
                    {% include 'postagens/postagem_confirm_delete.html' %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="2">
                    <p class="mb-0">Não existem postagens cadastradas</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        <a href="{% url 'postagens:postagem_criar' %}"><button class="btn_azul">Novo</button></a>
    </div>
</div>
{% if postagens %}
{% include 'pagination.html' %}
{% endif %}
{% endblock %}
